*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(rgb(31, 31, 31), rgb(31, 31, 31));
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(31, 31, 31), rgb(31, 31, 31));
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    position:fixed;
    justify-content: space-between;
    z-index: 1;
    background-image: linear-gradient(rgb(31, 31, 31), rgb(31, 31, 31));
    height: 80px;
    padding: 15px 20px;
}

.logo{
    cursor: pointer;
    width: 56px;
}

.warna{
    color: #fff;
    transition: 0.3s;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #5e0584dd;
    box-shadow: 0px -13px 15px 0px #d064ff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}

.button{
    cursor: pointer;
    position: relative;
    padding: 16px 32px;
    font-family: montserrat;
    font-size: 14px;
    color: white;
    background-color: #9900CC;
    border-radius: 10px;
    border: 0px solid;
    transition: 0.2s;
}

.button:hover{
    background-color: #bf00ff;
    box-shadow: 0px 0px 8px 0px #bf00ff
}

.navbar ul li:hover::after{
    width: 100%;
}

.judul{
    padding-top: 5%;
    padding-left: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.judul ul li{
    list-style: none;
    display: inline-block;
    margin: 50px;
    position: relative;
}

.teks{
    padding-left: 30px;
    width: 630px;
}
.teks h1{
    font-size: 3.6em;
    font-weight: 600;
    line-height: 1.3em;
}
.teks span{
    color: #9900CC;
    font-weight: 900;
    font-size: 1.5em;
}
.teks p{
    font-size: 18px;
}

h1{
    color: white;
    font-family: montserrat-extrabold;
    letter-spacing: 1px;
}

p{
    color: white;
    padding-top: 10px;
    font-size: 20px;
    font-family: montserrat-regular;
}

.heading{
    padding: 3%;
}

.kres{
    position:relative;
    height:430px;
    transition: 0.4s;
    border-radius: 100%;
}

.kres:hover{
    box-shadow: 0px 0px 50px 0px #bf00ff;
}

.about{
    background-color: #232323;
    width: 100%;
    padding: 20px;
}

.isian{
    padding: 0 30px;
}

.isian p{
    text-align: justify;
}

.gembar{
    height: 500px;
}

.pendidikan h1{
    padding-top: 35px;
    text-align: center;
    font-family: montserrat-regular;
    background-color: #1F1F1F;

}

.container{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    text-align: center;
}

h2{
    color: #fff;
    padding-top: 10px;
    font-family: montserrat-regular;
}

.sd{
    background-color: #2d2730;
    padding: 50px;
    border: 0px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.sd:hover{
    box-shadow: 0px 0px 10px 0px #bf00ff;
}

.smp{
    background-color: #2d2730;
    padding: 50px;
    border: 0px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.smp:hover{
    box-shadow: 0px 0px 10px 0px #bf00ff;
}

.smk{
    background-color: #2d2730;
    padding: 50px;
    border: 0px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.smk:hover{
    box-shadow: 0px 0px 10px 0px #bf00ff;
}

.kuliah{
    background-color: #2d2730;
    padding: 50px;
    border: 0px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.kuliah:hover{
    box-shadow: 0px 0px 10px 0px #bf00ff;
}

.portofolio{
    background-color: #232323;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.portofolio h1{
    padding: 30px;
    text-align: center;
    font-family: montserrat-regular;
}

.card1{
    width: 100%;
}

.container1{
    display:flex;
    align-items: center;
    justify-content: center;
}

.poster{
    background-color: #5e0584dd;
    padding: 100px;
    padding-left: 105px;
    padding-right: 105px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.poster:hover{
    box-shadow: 0px 0px 20px 0px #670a86;
}

.banner{
    background-color: #470264dd;
    padding: 100px;
    padding-top: 135px;
    padding-bottom: 135px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.banner:hover{
    box-shadow: 0px 0px 20px 0px #5e0584dd;
}

.sertifikat{
    background-color: #470264dd;
    padding: 100px;
    padding-top: 116px;
    padding-bottom: 116px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.sertifikat:hover{
    box-shadow: 0px 0px 20px 0px #5e0584dd;
}

.flyer{
    background-color: #5e0584dd;
    padding: 100px;
    padding-left: 114px;
    padding-right: 114px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 20px;
    cursor:pointer;
    transition: 0.3s;
}

.flyer:hover{
    box-shadow: 0px 0px 20px 0px #670a86;
}

.minat{
    text-align: center;
}

.isi_minat{
    padding: 35px;
}

.isi_minat button{
    cursor: pointer;
    padding: 16px 32px;
    font-family: montserrat-extrabold;
    font-size: 14px;
    color: white;
    background-color: #9900CC;
    border-radius: 10px;
    border: 0px solid;
    transition: 0.2s;
    margin-top: 15px;
}

.isi_minat button:hover{
    box-shadow: 0px 0px 20px 0px #670a86;
}

.footer{
    padding: 40px;
    text-align: center;
    background-color: #232323;
}

.footer p{
    font-size: 16px;
}

.contact{
    margin: 0 46%;
}

.contact table tr td a{
    padding: 0 3px;
}